<button (click)="onClick()">Hide!</button>
<table>
  <tr>
    <td>Цвета радуги</td>
  </tr>
  <tr>
    <td style="background-color: {{color.red}}" [style.visibility]="visible">
      {{color['red']}}
    </td>
  </tr>
  <tr>
    <td style="background-color: {{color.orange}}" [style.visibility]="visible">
      {{color['orange']}}
    </td>
  </tr>
  <tr>
    <td style="background-color: {{color.yellow}}" [style.visibility]="visible">
      {{color['yellow']}}
    </td>
  </tr>
  <tr>
    <td [style.background-color]="color.green" [style.visibility]="visible">
      <span [innerHTML]="color.green"></span>
    </td>
  </tr>
  <tr>
    <td [style.background-color]="color.blue" [style.visibility]="visible">
      <span [innerHTML]="color.blue"></span>
    </td>
  </tr>
  <tr>
    <td [style.background-color]="color.indigo" [style.visibility]="visible">
      <span [innerHTML]="color.indigo"></span>
    </td>
  </tr>
  <tr>
    <td [style.background-color]="color.purple" [style.visibility]="visible">
      <span [innerHTML]="color.purple"></span>
    </td>
  </tr>
</table>
